body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

#banner {
    background-color: #0f4c81;
    color: white; 
    text-align: center;
    padding: 10px;
    font-size: 3em;
    margin-bottom: 10px;
}

#versions {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
}

#versions ul {
    list-style-type: circle;
    display: inline-block;
    margin-left: 10px;
    padding-left: 0; /* Remove default padding */
}

#versions li {
    margin-bottom: 25px;

}

#versions a {
    color: #000;
    text-decoration: underline;
    padding-right: 20px;
}

#versions a:hover {
    color: green;
    text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 640px) {
    #banner {
        font-size: 1.8em;
    }

    #versions {
        font-size: 1.5rem;
    }
}
